@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #ffffff;
}

.container>div:nth-child(3) {
  margin-top: 15px;
}

.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.search-field {
  cursor: pointer;
  width: 300px;
  padding: 10px;
  border-radius: 10px 0 10px 0;
  background-color: #555;
}

.search-field::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.search-field:focus {
  outline-color:#3f4370;
}

.heading h1 {
  /* font-family: 'Uchen', serif; */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}

.row {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.row::-webkit-scrollbar {
  height: 0 !important
}

.movie {
  margin: 10px;
  width: 200px;
  height: 280px;
  position: relative;
  transition: all 0.2s;
}

.movie img {
  width: 100%;
  height: 100%;
  border: 4px solid white;
  transition: 0.2s ease-in;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.overlay > * {
  position: absolute;
  top: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #3f4370;
  transform: translateY(20px);
  transition: all 0.3s;
}

.overlay:hover {
  opacity: 1;
  border: 4px solid #3f4370;
}

.overlay:hover > * {
  transform: translateY(0);
  cursor: pointer;
}

.title_year {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  margin: -5px 0 5px 10px;
  font-size: 14px;
}


.title_year>p:nth-child(2) {
  font-weight: 300;
  color: #999;
}

.empty {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_year, .heading h1, .movie img {
  cursor: default;
}

@media screen and (max-width: 770px) {
  .movie {
    width: 160px;
    height: 250px;
  }
  .movie img {
    width: 160px;
    height: 100%;
  }
  .overlay>* {
    font-size: 12px;
  }
  .title_year {
    width: 160px;
  }
}

@media screen and (max-width: 550px) {
  .search-field {
    width: 150px;
    padding: 8px;
  }
  .search-field::placeholder {
    font-size: 12px;
  }
  .heading h1 {
    font-size: 22px;
  }

  .overlay {
    font-size: 12px;
    padding: 12px;
  }

  .empty {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
  }
}
